body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.hero {
    width: 1440px;
    margin: 0 auto;
    background: url('../img/bg.jpg');
    padding-top: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero__wrapper {
    background: #02160b;
    color: #f7f7f7;
}

.header {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin-bottom: 120px;
}

.logo {
    display: grid;
    grid-template-columns: 85px auto;
    margin-top: 5px;
}  

.logo__title {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 6px;
}

.nav {
    margin-top: 17px;
}

.nav__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.nav__list__item {
    font-size: 23px;
}

.nav__list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__list__item_link {
    text-decoration: none;
    color: #f7f7f7;
}

.nav__list__item:last-child .nav__list__item_link {
    color: #f7f7f7;
    border: 2px solid #cd6326;
    border-radius: 5px;
    padding: 8px 23px;
    transition: background-color .3s ease-in;
}

.nav__list__item:last-child .nav__list__item_link:hover {
    text-decoration: none;
    background-color: #cd6326;
}

.nav__list__item:last-child .nav__list__item_link:active {
    background-color:#8f5613;
}

.survival {
    padding-bottom: 252px;
}

.survival__title {
    color: #cd6326;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 53px;
}

.survival__text {
    width: 274px;
    line-height: 27px;
    margin-bottom: 50px;
}

.survival__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding: 13px 44px;
    background-color: #cd6326;
    color: #f7f7f7;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color .3s ease-in;
}

.survival__btn:hover {
    background-color: #e39128;
    cursor: pointer;
}

.survival__btn:active {
    outline: none;
    background-color: #8f5613;
}

.main {
    background-color: #ccc;
    color: #333;
    padding-bottom: 240px;
}

.latest-articles {
    text-align: center;
    padding-top: 121px;
    margin-bottom: 240px;
}

.latest-articles__title {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 19px;
}   

.latest-articles__subtitle {
    font-size: 24px;
    font-weight: normal;
    color: #666;
    margin-bottom: 120px;
}

.latest-articles__wrapper {
    display: grid;
    grid-template-columns: 90px 1020px 90px;
}

.latest-artcicles__article__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 60px;
}

.latest-articles__article {
    position: relative;
    text-align: center;
    color: #f7f7f7;
    transition: box-shadow .4s ease-in-out;
}

.latest-articles__article:hover {
    cursor: pointer;
    box-shadow: 5px 2px 16px 12px rgba(0, 0, 0 ,0.34);
}

.latest-articles__article__title {
    position: absolute;
    bottom: 78px;
    left: 0;
    right: 0;
    font-size: 22px;
    font-weight: normal;
}

.latest-articles__article__text {
    position: absolute;
    bottom: 41px;
    left: 0;
    right: 0;
    font-size: 17px;
}

.latest-articles__slider__img {
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    align-self: center;
    transition: opacity .2s ease-out;
}

.latest-articles__slider__img:last-child {
    justify-self: end;
}

.latest-articles__slider__img:hover {
    cursor: pointer;
    opacity: .5;
}

.get-notified {
    font-size: 23px;
    text-align: center;
}

.get-notified__title {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 60px;
}

.get-notified__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.get-notified__form__input {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 540px;
    height: 60px;
    background-color: inherit;
    border: 1px solid #666;
    outline: none;
    padding: 3px 0px 0px 15px;
    margin-left: 270px;
}

.get-notified__form__btn {
    width: 122px;
    height: 60px;
    background-color: #cd6326;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    transition: all .3s ease-in;
}

.get-notified__form__btn:hover {
    cursor: pointer;
    background-color:#e39128;
}

.get-notified__form__btn:active {
    background-color:#8f5613;
}

.footer {
    background: #181617;
    color: #f7f7f7;
    font-size: 23px;
}

.footer__wrapper {
    width: 1440px;
    background: url(../img/footer_bg.jpg);
    margin: 0 auto;
    padding: 145px 0 149px;
}

.footer__content {
    display: grid;
    grid-template-columns: 359px 600px 240px;
}

.footer__links {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 166px 187px 247px;
    align-items: center;
}

.footer__links__item_link {
    color: inherit;
    text-decoration: none;
}

.footer__links__item_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 27px;
    margin-top: 5px;
    list-style-type: none;
}

.footer__social__item_link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .2s ease-in;
}

.footer__social__item_link:hover {
    opacity: .7;
}

.footer__social__item:nth-child(1) .footer__social__item_link {
    background-image: url(../img/icons/facebook.svg);
}

.footer__social__item:nth-child(2) .footer__social__item_link {
    background-image: url(../img/icons/instagram.svg);
}

.footer__social__item:nth-child(3) .footer__social__item_link {
    background-image: url(../img/icons/pinterest.svg);
}

.footer__social__item:nth-child(4) .footer__social__item_link {
    background-image: url(../img/icons/telegram.svg);
}
