body {
    font-family: 'Open Sans', sans-serif;
    width: 1440px;
    font-size: 18px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.hero__wrapper {
    background: #02160b url('../img/bg.jpg');
    color: #f7f7f7;
    padding-top: 19px;
}

.header {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin-bottom: 110px;
}

.logo {
    display: grid;
    grid-template-columns: 85px auto;
}  

.logo__img {
    /* display: inline-block; */
}

.logo__text {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 32px;
    margin-top: 6px;
}

.nav {

}

.nav__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 8.485vw);
    justify-items: center;
}

.nav__list__item {
    font-size: 23px;
}

.nav__list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__list__item_link {
    text-decoration: none;
}

.nav__list__item:last-child .nav__list__item_link {
    border: 2px solid #cd6326;
    border-radius: 5px;
    padding: 8px 23px;
    transition: background-color .3s ease-in;
}

.nav__list__item:last-child .nav__list__item_link:hover {
    background-color: #cd6326;
}

.survival {
    padding-bottom: 252px;
}

.survival__title {
    color: #cd6326;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 53px;
}

.survival__text {
    width: 274px;
    line-height: 27px;
    margin-bottom: 63px;
}

.survival__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    padding: 16px 43px;
    background-color: #cd6326;
    border-radius: 5px;
    transition: background-color .3s ease-in;
}

.survival__btn:hover {
    background-color: #e39128;
    cursor: pointer;
}

.survival__btn:visited {
    background-color: #8f5613;
}

.main__wrapper {
    background-color: #ccc;
    color: #333;
}

.latest-articles {
    text-align: center;
    padding-top: 100px;
}

.latest-articles__title {
    font-size: 48px;
    margin-bottom: 20px;
}   

.latest-articles__subtitle {
    font-size: 24px;
    color: #666;
    /* margin: 0; */
}